.modal {
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 25px auto;
    box-shadow: 0 0 10px black;

}
.display, .hidden{
    padding: 3px 5px;
    width: 250px;
    height: 150px;
    border: 1px solid black;
}

p {
    text-align: center;
}
button{
    margin-left: 10%;
}